APP_ENV=development
APP_PORT=8080
APP_URL=http://localhost:8080
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=portofolio_tio
JWT_SECRET=super_secret_jwt_key_sulistio_murti_mulyono_2026
JWT_ACCESS_EXPIRE=15m
JWT_REFRESH_EXPIRE=168h
STORAGE_PATH=./storage/media
NEXTJS_URL=http://localhost:3000
NEXTJS_REVALIDATE_SECRET=tio_revalidation_secret_key_2026
CORS_ALLOWED_ORIGINS=http://localhost:3000
